@import url(reset.css);

body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* Section 1 */

.container h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1px;
    color: #648cff;
    text-transform: uppercase;
    text-align: center; 
    margin-top: 58px;
    margin-bottom: 26px;
}

.container p {
    font-size: 18px;
    color: #999999;
    text-align: center;
}

.slider_box {
    position: relative;
    min-height: 659px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;
}

.arrow_left {
    margin-left: 42px; 
}

.arrow_right {
    margin-right: 42px;
}

.widget_center {
    position: relative; 
    z-index: 2;
    box-shadow: 0px 30px 35px rgba(0, 0, 0, 0.15);
    width: 370px;
}

.widget_left, .widget_right {
    position: absolute;
    z-index: 1; 
    box-shadow: 0px 30px 35px rgba(0, 0, 0, 0.15);
    width: 318px;
}

.widget_left {
    right: 50%;
    margin-right: 80px;
    margin-left: 108px;
}

.widget_right {
    left: 50%;
    margin-left: 80px;
    margin-right: 108px;
}

/* Section 2 */

.screenshots .container h2 {
    margin-top: 146px;
}

.screen_box_1, .screen_box_2, .screen_box_3 {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.screen_box_1 {
    margin-top: 198px;
    margin-bottom: 268px;
}

.screen_box_2 {
    justify-content: space-between;
    margin-bottom: 272px;
}

.screen_box_3 {
    margin-bottom: 104px;
}

.screen_box_1 .screen_text h3, .screen_box_2 .screen_text h3, .screen_box_3 .screen_text h3 {
    font-size: 36px;
    letter-spacing: 1px;
    color: #648cff;
    text-transform: uppercase;
    text-align: justify; 
    margin-bottom: 37px;
}

.screen_box_1 .screen_text p, .screen_box_2 .screen_text p, .screen_box_3 .screen_text p {
    font-size: 24px;
    text-align: left;
    color: #353854;
    line-height: 1.5;
    max-width: 500px;
}

.screen_box_1 .icon {
    margin-top: 84px;
    margin-bottom: 50px;
}

.screen_box_1 .statistics, .screen_box_3 .statistics  {
    margin-top: 58px;
}

.cloudy_weather, .sunny_weather, .rainy_weather  {
    height: 605px;
    width: 290px;
}

.cloudy_weather {
    margin-left: 90px;
    margin-right: 183px;
}

.rainy_weather {
    margin-left: 95px;
    margin-right: 226px;
}

.sunny_weather {
    margin-right: 187px;
}

.background_text_1, .background_text_2, .background_text_3  {
    font-size: 43.5px;
    font-weight: 100;
    font-family: "Ubuntu";
    color: rgba(237, 237, 242, 0.588);
    line-height: 3.472;
    text-align: left;
    transform: matrix(0, 5.34835300729806, -5.34835300729811, 0, 0, 0);
    position: absolute;
    z-index: -1;
}

.background_text_1 {
    left: 320px;
    top: 230px;
}

.background_text_2 {
    left: 940px;
    top: 210px;
}

.background_text_3 {
    left: 365px;
    top: 230px;
}

.small_circle_1, .small_circle_2, .small_circle_3, .temperature_circle_1, .temperature_circle_2, .temperature_circle_3 {
    font-family: "Ubuntu";
    font-weight: 500;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
}

.small_circle_1, .small_circle_2, .small_circle_3 {
    font-size: 18px;
}

.small_circle_1 {
    color: white;
    background-color: #fcec64;
    left: 321px;
    top: 171px;
}

.temperature_circle_1, .temperature_circle_2, .temperature_circle_3 {
    font-size: 30px;
    color: white;
}

.temperature_circle_1 {
    background-color: #6ca3ff;
    left: 25px;
    top: 380px;
}

.screen_box_2 .icon {
    margin-top: 99px;
    margin-bottom: 50px;
}

.screen_box_2 .statistics {
    margin-top: 52px;
}

.small_circle_2 {
    color: white;
    background-color: #f2a14e;
    left: 955px;
    top: 140px;
}

.temperature_circle_2 {
    background-color: #fc6a42;
    left: 635px;
    top: 400px;
}

.screen_box_3 .icon {
    margin-top: 69px;
    margin-bottom: 48px;
}

.small_circle_3 {
    color: #7e8c91;
    background-color: #b8faee;
    left: 326px;
    top: 161px;
}

.temperature_circle_3 {
    background-color: #7693c8;
    left: 30px;
    top: 390px;
}
